$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$neon-pink: #ff66ff;
$neon-purple: #cc00cc;
$neon-blue: #00eaff;
$dark-bg: #0b0b0b;
$light-text: #ffffff;

$shadow-glow: 0 0 10px $neon-pink, 0 0 20px $neon-purple, 0 0 40px $neon-blue;
