@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.meal-planner__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.meal-planner {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;

  .meal-planner__group-title {
    background-color: #f9f9f9;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }

  .meal-planner__group {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;

    .meal-planner__list {
      flex: 1 1 calc(33.333% - 1rem);
      flex: 1;
      border: 1px solid #eee;
      margin: 0.5rem 0;
      padding: 0.5rem;
    }
  }
}
