@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.footer {
  width: 100%;
  background-color: #333;
  margin-top: 0.5rem;
  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color: #ffff;
    gap: 1rem;

    @include tablet {
      padding: 2rem;
      flex-direction: row;
    }

    a:hover {
      color: #ecb0c3;
    }
  }

  &__left {
    display: flex;
    gap: 0.5rem;
    color: #ffff;
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__right {
    display: flex;
    gap: 0.5rem;
    color: #ffff;
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }
  }
}
