@use "./styles/partials/globals";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

button {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: #f0f0f0;
  color: #333;
}
